flask
flask-cors
gunicorn
python-dotenv
langgraph
langchain
langchain_anthropic
langchain_openai
langchain_groq
langchain_community
langchain_experimental
tavily-python
typing-extensions
PyPDF2
chromadb
sentence-transformers