flask
flask-cors
gunicorn
python-dotenv
langchain
langchain_core
langchain_anthropic
langchain_openai
langchain_groq
langchain_community
langchain_experimental
langchain_huggingface
langgraph
tavily-python
typing-extensions
PyPDF2
pypdf
chromadb
sentence-transformers
faiss-cpu
bs4
wikipedia
requests
matplotlib
psycopg2
playwright
beautifulsoup4
fastapi
uvicorn
starlette
aiofiles
aiosqlite
lxml  # Added lxml parser for BeautifulSoup
